:root {
  --primaryColor: #013d29;
  --text: #737071;
  --primaryBG: #ffffff;
  --secondaryBG: #f6f6f6;

  --borderRadius: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}
