:root {
  --primaryColor: #013d29;
  --text: #737071;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}
