.main {
  max-width: 1400px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  max-width: 1400px;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 10%;
}

.header .user>i,
.header .cart>i {
  font-size: 2rem;
  color: #737071;
}

.header .logo span {
  font-weight: 900;
  font-size: 2rem;
  color: var(--primaryColor);
}

.header .navlinks {
  display: flex;
  list-style: none;
  gap: 15px;
  width: 40%;
}

.header .controls {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 40%;
  justify-content: flex-end;
}

.header .controls .control {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--text);
  font-weight: 500;
  justify-content: flex-end;
}

.header .controls .user,
.header .controls .cart {
  width: 100px;
}

.header .controls .search {
  position: relative;
  width: calc(100% - 200px);
}

.header .controls .search>i {
  position: absolute;
  top: 15px;
  right: 18px;
  color: var(--text);
}

.header .controls .search input {
  width: 100%;
  padding: 15px 20px;
  padding-right: 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  background: var(--secondaryBG);
}

.main {
  width: 100%;
  max-width: 1400px;
}

.swiper {
  width: 100%;
  height: 100%;
  max-width: 1400px;
}

.swiper-slide {
  justify-content: center;
  align-items: center;
  max-height: 500px;
  min-width: 100%;
  height: 500px;
  border-radius: var(--borderRadius);

}

.swiper-slide img {
  object-fit: fill;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: var(--borderRadius);
}

.swiper-button-prev,
.swiper-button-next {
  bottom: 10px !important;
  top: 95% !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  width: 50px !important;
  height: 50px !important;
  color: white !important;
  border-radius: 50% !important;
  /* background: var(--primaryColor); */
}

.swiper-button-prev {
  left: 5px !important;
}

.swiper-button-next {
  right: 5px !important;
}